@{
    ViewBag.Title = "Contact";
}
<h2 class="bg-danger">
    Contact</h2class>


    <address>
        <strong>Delivery:</strong> <a href="JoeDelivery@example.com">Delivery</a>
    </address>
    </main>
