@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <h2 class="bg-success">Welcome to Joe's Pizza</h2>
        <h3>This is a dummy model</h3>
        <h5>Purpose is to Deploy via Jenkins</h5>
    </section>


</main>